In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree

In [2]:
data = pd.read_csv('Crop.csv')

In [3]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  73  57  44    20.879744  82.002744  6.502985  202.935536  rice
1  74  57  44    21.770462  80.319644  7.038096  226.655537  rice
2  92  41  38    23.004459  82.320763  7.840207  263.964248  rice
3  68  44  38    26.491096  80.158363  6.980401  242.864034  rice
4  66  36  40    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
data.size

17600

In [5]:
data ['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [6]:

inputs = data[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
crop = data['label']

In [7]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(inputs,crop,test_size = 0.2,random_state =2)

In [8]:
from sklearn.ensemble import RandomForestClassifier
regressor = RandomForestClassifier(n_estimators=20, random_state=0)
regressor.fit(Xtrain,Ytrain)

predicted_values = regressor.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)

print(x)


print(classification_report(Ytest,predicted_values))

0.9931818181818182
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        13
      banana       1.00      1.00      1.00        17
   blackgram       1.00      1.00      1.00        16
    chickpea       1.00      1.00      1.00        21
     coconut       1.00      1.00      1.00        21
      coffee       1.00      1.00      1.00        22
      cotton       1.00      1.00      1.00        20
      grapes       1.00      1.00      1.00        18
        jute       0.90      1.00      0.95        28
 kidneybeans       1.00      1.00      1.00        14
      lentil       1.00      1.00      1.00        23
       maize       1.00      1.00      1.00        21
       mango       1.00      1.00      1.00        26
   mothbeans       1.00      1.00      1.00        19
    mungbean       1.00      1.00      1.00        24
   muskmelon       1.00      1.00      1.00        23
      orange       1.00      1.00      1.00        29
      papaya       1.00      1.00      1.00        19
  pigeonpeas       1.00      1.00      1.00        18
 pomegranate       1.00      1.00      1.00        17
        rice       1.00      0.81      0.90        16
  watermelon       1.00      1.00      1.00        15

    accuracy                           0.99       440
   macro avg       1.00      0.99      0.99       440
weighted avg       0.99      0.99      0.99       440

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(Xtrain,Ytrain)

In [9]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(regressor,inputs,crop,cv=5)
score

array([0.99772727, 0.99772727, 0.99545455, 0.99318182, 0.99090909])

In [10]:
regressor.predict([[73,57,44,20.87974371,82.00274423,6.502985292,202.9355362]])

array(['rice'], dtype=object)

In [11]:
import pickle
pickle.dump(regressor, open('model.pkl','wb'))

model = pickle.load(open('model.pkl','rb'))
print(model.predict([[73,57,44,20.87974371,82.00274423,6.502985292,202.9355362]]))

['rice']